/DataAccess/Adapters/DofD.UofW.DataAccess.Adapters.EF/bin
/DataAccess/Adapters/DofD.UofW.DataAccess.Adapters.EF/obj
/DataAccess/DofD.UofW.DataAccess.Common/bin
/DataAccess/DofD.UofW.DataAccess.Common/obj
/Entities/DofD.UofW.Entities.Map.Ef/bin
/Entities/DofD.UofW.Entities.Map.Ef/obj
/Entities/DofD.UofW.Entities/bin
/Entities/DofD.UofW.Entities/obj
/Tests/DofD.UofW.DataAccess.Adapters.EF.Test/bin
/Tests/DofD.UofW.DataAccess.Adapters.EF.Test/obj
/packages
/UnitOfWork.sln.DotSettings.user
/DataAccess/Adapters/DofD.UofW.DataAccess.Adapters.NH/bin/Debug
/DataAccess/Adapters/DofD.UofW.DataAccess.Adapters.NH/obj/Debug
/Sources/СallСenter/СallСenter.Data/obj
/Sources/ClientCenter/ClientCenter/bin
/Sources/ClientCenter/ClientCenter/obj
/Sources/ClientCenter/ClientCenter/*.user
/Sources/СallСenter/СallСenter/obj
/Sources/СallСenter/СallСenter/bin/Debug/netcoreapp2.0
/Sources/СallСenter/СallСenter.Core/bin/Debug/netcoreapp2.0
/Sources/СallСenter/СallСenter.Core/obj/Debug/netcoreapp2.0/СallСenter.Core.csproj.FileListAbsolute.txt
/Sources/СallСenter/СallСenter.Core/obj/Debug/netcoreapp2.0/СallСenter.Core.dll
/Sources/СallСenter/СallСenter.Core/obj/Debug/netcoreapp2.0/СallСenter.Core.pdb
/Sources/СallСenter/СallСenter.Data/bin/Debug/netcoreapp2.0
